body {
    background-color: #b0afb9;
}

body::selection {
    background-color: yellow; 
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #7bacf09f;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
main {
    margin-top: 30px;
}

.block-1 img {
    float: left;
    margin-right: 20px; 
    margin-bottom: 20px;
    display: block; /* убирает лишний отступ под картинкой */
    max-width: 100%;
    height: auto;

}



.block-2 {
    margin-top: 20px; /* отступ сверху от картинки */
    padding: 15px;
}

h1 {
    color: rgb(31, 73, 50);
} 

h2 {
    color: rgb(123, 52, 165);
}